---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} うなぎまるキッチン. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 3em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0;
		font-size: 0.9rem;
	}
</style>
